a{
    color: #8f0a0a;
    }
    
    a:hover{
        color: black;
    }
    
    .nav-link:hover{
        background: rgb(150, 150, 130);
    }
    
    .btn{
        background: rgb(184,134,11);
        padding: 10px;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    
    .btn:hover{
        color: brown;
        background-color: rgb(0,139,139);
        font-size: 20px;
        border: 5px;
        transition: margin-right 2s;
        transition: margin-right 2s .5s;
        transition: margin-right 2s ease-in-out;
        transition: margin-right 2s ease-in-out .5s;
        transition: margin-right 2s, color 1s;
        transition: all 1s ease-out;
        
    }
    
    .btn:active{
        color: rgb(77, 74, 74);
        background-color: rgb(248, 162, 32);
        font-size: 20px;
        
    }
    
    .activity{
        background: rgb(200, 150, 200);
        color: black;
        font-weight: bold;
    }
    
    .activity:hover{
        background: rgb(220,20,60);
        color: white;
        transition: margin-right 3s;
        transition: margin-right 3s .10s;
        transition: margin-right 3s ease-in-out;
        transition: margin-right 3s ease-in-out .10s;
        transition: margin-right 3s, color 1s;
        transition: all 1s ease-out;
    }